<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>动态监测</title>
</head>

<body>
    <center>
        <img id="image" src="../static/image/baidu.png" /> 
        <p id="text">实时热点动态监测</p>
        <input type="file" id="inputfile" name="fileContent">
        <svg width="1900" height="1020"></svg>
        <script src="../static/js/config.js"></script>
        <script src="../static/js/imgs.js"></script>
        <script src="../static/js/color_ranges.js"></script>
        <script src="../static/js/visual.js"></script>
        <link rel="stylesheet" href="../static/css/stylesheet.css">
        <ss id="team">Team Members：陈哲，汪旭童，李鑫</ss>
    </center>
</body>

</html>